In [9]:
import pandas as pd
pd.__version__
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100);
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,Passenger_count,Trip_distance,RateCodeID,Store_and_fwd_flag,PULocationID,DOLocationID,Payment_type,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Improvement_surcharge,Total_amount,Congestion_Surcharge,Unnamed: 18
0,1,1/1/2021 0:51,1/1/2021 0:52,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
1,1,1/1/2021 0:43,1/1/2021 1:11,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
2,1,1/1/2021 0:15,1/1/2021 0:31,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
3,2,1/1/2021 0:31,1/1/2021 0:48,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
4,1,1/1/2021 0:16,1/1/2021 0:24,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,1/1/2021 0:23,1/1/2021 0:35,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
96,2,1/1/2021 0:46,1/1/2021 0:54,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
97,2,1/1/2021 0:28,1/1/2021 0:51,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
98,2,1/1/2021 0:42,1/1/2021 0:54,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN
99,2,1/1/2021 0:32,1/1/2021 0:38,1,1.89,1,N,75,151,1,7.5,0.5,0.5,2.20,0.0,0.3,11.00,0.0,NaN

In [10]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "Passenger_count" INTEGER,
  "Trip_distance" REAL,
  "RateCodeID" INTEGER,
  "Store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "Payment_type" INTEGER,
  "Fare_amount" REAL,
  "Extra" REAL,
  "MTA_tax " REAL,
  "Tip_amount" REAL,
  "Tolls_amount" REAL,
  "Improvement_surcharge" REAL,
  "Total_amount" REAL,
  "Congestion_Surcharge" REAL,
  "Unnamed: 18" REAL
)

In [11]:
# convert to_datetime bacause default is text
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

df = next(df_iter)
# len(df) -> 100000

In [12]:
from sqlalchemy import create_engine
#import pandas as pd

# specify the database you want to use based on the docker run command we had
# postgresql://username:password@localhost:port/dbname
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# create the connection to the database engine to see if everything is working properly
engine.connect()

# pass the engine variable to get_schema function
# Pandas will execute the schema SQL statement using the engine connection we have defined
pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine)

'\nCREATE TABLE yellow_taxi_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\t"Passenger_count" BIGINT, \n\t"Trip_distance" FLOAT(53), \n\t"RateCodeID" BIGINT, \n\t"Store_and_fwd_flag" TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\t"Payment_type" BIGINT, \n\t"Fare_amount" FLOAT(53), \n\t"Extra" FLOAT(53), \n\t"MTA_tax " FLOAT(53), \n\t"Tip_amount" FLOAT(53), \n\t"Tolls_amount" FLOAT(53), \n\t"Improvement_surcharge" FLOAT(53), \n\t"Total_amount" FLOAT(53), \n\t"Congestion_Surcharge" FLOAT(53), \n\t"Unnamed: 18" FLOAT(53)\n)\n\n'

In [15]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

df = next(df_iter)
# len(df) -> 100000
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,Passenger_count,Trip_distance,RateCodeID,Store_and_fwd_flag,PULocationID,DOLocationID,Payment_type,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Improvement_surcharge,Total_amount,Congestion_Surcharge,Unnamed: 18
0,1,1/1/2021 0:51,1/1/2021 0:52,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
1,1,1/1/2021 0:43,1/1/2021 1:11,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
2,1,1/1/2021 0:15,1/1/2021 0:31,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
3,2,1/1/2021 0:31,1/1/2021 0:48,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
4,1,1/1/2021 0:16,1/1/2021 0:24,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,1/4/2021 14:18,1/4/2021 14:35,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5,NaN
99996,1,1/4/2021 14:42,1/4/2021 14:59,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5,NaN
99997,2,1/4/2021 14:39,1/4/2021 15:09,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5,NaN
99998,2,1/4/2021 14:49,1/4/2021 14:54,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5,NaN
99999,2,1/4/2021 14:42,1/4/2021 14:51,1,1.43,1,N,170,161,2,7.5,0.0,0.5,0.00,0.0,0.3,10.80,2.5,NaN

In [16]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

1000

In [17]:
from time import time

while True:
	# benchmark time start
	t_start = time()

	# iterates through 100000 chunks of rows
	df = next(df_iter)

	# fixes timestamp type issue
	df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
	df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

	# appends data to existing table
	df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

	# benchmark time ends
	t_end = time()

	# prints the time it took to execute the code
	print('Inserted another chunk... took %.3f second(s)' % (t_end - t_start))

Inserted another chunk... took 14.385 second(s)
Inserted another chunk... took 14.188 second(s)
Inserted another chunk... took 18.714 second(s)
Inserted another chunk... took 17.770 second(s)
Inserted another chunk... took 16.839 second(s)
Inserted another chunk... took 17.936 second(s)
Inserted another chunk... took 17.166 second(s)
Inserted another chunk... took 14.930 second(s)
Inserted another chunk... took 14.377 second(s)
Inserted another chunk... took 6.839 second(s)

StopIteration: